*{
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	color: Black
}
body{
	background-color: #D6DBDF;

}

h4{
font-size:16px;
} 
font-size:24px:
}
h3{
font-size: 22px;
font-weight: bold;

}

